<nav class="navUser">
    <ul class="navUser-section navUser-section--alt">
        <!-- account accsess for user -->
        <li class="navUser-item head-user user-info myaccount">
            <a class="navUser-action"  data-dropdown="account-dropdown" aria-label="user_account" href="#">
              <span class="svgbg navUser-item-cartLabel list-inline">
                {{#if theme_settings.theme_multistore}} 
                <svg width="24px" height="24px"><use xlink:href="#huser"></use></svg>
                <!-- <h5 class="text-left">{{lang 'login / register'}}</h5> -->
                {{else}}
                    {{#if theme_settings.theme_fashion}}
                    <svg width="24px" height="24px"><use xlink:href="#huser-fashion"></use></svg>
                <!-- <h5 class="text-left">{{lang 'login / register'}}</h5> -->
                {{else}}
                {{#if theme_settings.theme_kids}}
                    <svg width="24px" height="24px"><use xlink:href="#huser-fashion"></use></svg>
                {{/if}}
                    {{/if}}
                {{/if}}
              </span>
          </a>
          <ul class="dropdown-menu user-down dropdown-menu-left headlog" id="account-dropdown" data-dropdown-content aria-hidden="true">
            <h5 class="text-left">{{lang 'Your Account'}}</h5>
            <h6 class="text-left">{{lang 'Access account and manage orders'}}</h6>
            {{#if customer}}
                <p class="user-name">{{lang 'Hi! '}}{{first (split customer.name " ") }}</p>
            {{/if}}
            {{#if customer.store_credit.value '>' 0}}
                <div class="mystorecredit">
                    <ul class="navUser-section">
                        <li class="navUser-item">
                            <a class="navUser-action navUser-action--storeCredit has-dropdown"
                               data-dropdown="storeCredit-dropdown"
                               aria-controls="storeCredit-dropdown"
                               href="{{urls.cart}}"
                               aria-label="{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}"
                            >
                                <span class="navUser-action-divider">
                                    {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                                </span>
                            </a>
                            <ul class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                                {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                            </ul>
                        </li>
                    </ul>
                </div>
            {{/if}}
            {{#if customer}}
            <li class="acd">
                <a class="navUser-action dropdown-menu-item sign_out dro" href="{{urls.auth.logout}}"><i class="fa fa-sign-out"></i>{{lang 'common.logout'}}</a>
            </li>
            <li class="acd account-dropdown">
                <a class="navUser-action dropdown-menu-item my_account dro" href="{{urls.account.index}}"><i class="fa fa-user"></i>{{lang 'common.account'}}</a>
            </li>
            {{else}}
            <li class=" mylogin acd">
              <a class="navUser-action dropdown-menu-item dro" href="{{urls.auth.login}}"><i class="fa fa-lock"></i>{{lang 'common.login'}}</a>
            </li>
            {{#if settings.account_creation_enabled}}
            <li class=" mycreat acd">
              <a class="navUser-action dropdown-menu-item dro" href="{{urls.auth.create_account}}">
                <i class="fa fa-user-plus"></i>{{lang 'common.sign_up'}}
              </a>
            </li>
            {{/if}}
            {{/if}}
            <li class=" acd">
                    <a class="navUser-action navUser-item--compare"
                       href="{{urls.compare}}"
                       data-compare-nav
                       aria-label="{{lang 'common.compare'}}"
                    ><i class="fa fa-compress"></i>
                        {{lang 'common.compare'}} <!-- <span class="countPill countPill--positive countPill--alt"></span> -->
                    </a>
            </li>
            
            {{> components/common/currency-selector}}
            
                
          </ul>
        </li>

        <!-- Wishlist Icon -->
        <li class="mywishcus">
            <div class="navUser-item navUser-item--wishlist">
                    <a class="cart-button cart-button--wishlist dropdown-menu-item navUser-action" title="{{lang 'account.nav.wishlists'}}" href="{{urls.account.wishlists.all}}">
                        <svg width="24px" height="24px"><use xlink:href="#hwishlist"></use></svg>
                        <span>{{lang "common.wishlist"}}</span>
                    </a>
            </div>
        </li>
        <!-- cart icon  -->
        <li class="navUser-item navUser-item--cart header-cart--{{theme_settings.cart-type}}">
            <a class="navUser-action"
               data-cart-preview
               data-dropdown="cart-preview-dropdown"
               data-options="align:right"
               href="{{urls.cart}}"
               aria-label="{{lang 'cart.nav_aria_label'}}"
            >
          
                <svg width="24px" height="24px"><use xlink:href="#hcart"></use></svg>
           
            
                <!-- <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span> -->
                <span class="countPill cart-quantity"></span>
            </a>
            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"><div class="abc">close</div></div>
        </li>
    </ul>
    
</nav>
