<div id="search" class="desktop-search d-block sideb siden">
{{{ snippet "forms_search"}}}
<div id="search" class="wbSearch">
     <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="wb-search input-group">
                <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input form-control" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
                <div class="input-group-btn">
                    <button class="wb-search-btn" align="center" type="submit" value="{{lang 'search.results.form_button_text'}}" aria-label="search">
                        <svg width="20px" height="20px">
                            <use xlink:href="#mysearch"></use>
                        </svg>
                          
                          <!-- {{lang "search.quick_search.input_label"}} -->
                    </button>
                  </div>
            </div>
        </fieldset>
    </form>
    <section class="quickSearchResults" data-bind="html: results"></section>

</div>
</div>
