<div class="section-spacing">
    <div class="home_instagram_feed_main">
        <div class="all-head home_instagram_feed_main myheadeing">
            <h2 class="page-heading home_instagram_feed_header">
                <svg><use xlink:href="#icon-instagram"></use></svg>&nbsp;{{theme_settings.ig_title}}
                <p>{{theme_settings.ig_subheading}}</p>
                <span class="head-line"></span>
            </h2>
        </div>
        <div id="instafeed" class="home_instagram_feed"></div>
    </div>
</div>
