{{#if theme_settings.home-offer-banner}}
{{#if theme_settings.theme_multistore}}
<div class="section-spacing">
	<div class="banner-bg-offer container">
		<div class="row pre-row">
			<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-first-col">
				<div class="off-img off-img-one">
				{{#if theme_settings.offerbanner-first-img}}
					<div class="features-img-banner">
						<a href="offerbanner-first-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-first-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-first-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-first-button-text}}<a href="{{theme_settings.offerbanner-first-button-text-link}}" title="shop now">{{theme_settings.offerbanner-first-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
				<div class="off-img off-img-second">
				{{#if theme_settings.offerbanner-second-img}}
					<div class="features-img-banner">
						<a href="offerbanner-second-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-second-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-second-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-second-button-text}}<a href="{{theme_settings.offerbanner-second-button-text-link}}" title="shop now">{{theme_settings.offerbanner-second-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-12 off-img off-img-three off-img-second-col">
				{{#if theme_settings.offerbanner-thired-img}}
					<div class="features-img-banner">
						<a href="offerbanner-thired-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-thired-img}}"  alt="banner"/></a>
					</div>
					<div class="center-features-img-descri">
						<p>{{theme_settings.offerbanner-thired-img-cont1}}</p>
						<h1>{{theme_settings.offerbanner-thired-img-cont2}}</h1>
					</div>
				{{/if}}
			</div>
			<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-thired-col">
				<div class="off-img off-img-four">
				{{#if theme_settings.offerbanner-fourth-img}}
					<div class="features-img-banner">
						<a href="offerbanner-fourth-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-fourth-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-fourth-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-fourth-button-text}}<a href="{{theme_settings.offerbanner-fourth-button-text-link}}" title="shop now">{{theme_settings.offerbanner-fourth-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
				<div class="off-img off-img-fifth">
				{{#if theme_settings.offerbanner-fifth-img}}
					<div class="features-img-banner">
						<a href="offerbanner-fifth-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-fifth-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-fifth-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-fifth-button-text}}<a href="{{theme_settings.offerbanner-fifth-button-text-link}}" title="shop now">{{theme_settings.offerbanner-fifth-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
{{else}}
 {{#if theme_settings.theme_fashion}}
 <div class="section-spacing">
	<div class="banner-bg-offer container">
		<div class="row pre-row">
			<div class="col-lg-4 col-sm-6 col-12 off-img off-img-three off-img-second-col">
				{{#if theme_settings.offerbanner-thired-img}}
					<div class="features-img-banner">
						<a href="offerbanner-thired-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-thired-img}}"  alt="banner"/></a>
					</div>
					<div class="center-features-img-descri">
						<p>{{theme_settings.offerbanner-thired-img-cont1}}</p>
						<h1>{{theme_settings.offerbanner-thired-img-cont2}}</h1>
					</div>
				{{/if}}
			</div>
			<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-first-col">
				<div class="off-img off-img-one">
				{{#if theme_settings.offerbanner-first-img}}
					<div class="features-img-banner">
						<a href="offerbanner-first-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-first-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-first-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-first-button-text}}<a href="{{theme_settings.offerbanner-first-button-text-link}}" title="shop now">{{theme_settings.offerbanner-first-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
				<div class="off-img off-img-second">
				{{#if theme_settings.offerbanner-second-img}}
					<div class="features-img-banner">
						<a href="offerbanner-second-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-second-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-second-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-second-button-text}}<a href="{{theme_settings.offerbanner-second-button-text-link}}" title="shop now">{{theme_settings.offerbanner-second-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
			</div>
			
			<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-thired-col">
				<div class="off-img off-img-four">
				{{#if theme_settings.offerbanner-fourth-img}}
					<div class="features-img-banner">
						<a href="offerbanner-fourth-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-fourth-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-fourth-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-fourth-button-text}}<a href="{{theme_settings.offerbanner-fourth-button-text-link}}" title="shop now">{{theme_settings.offerbanner-fourth-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
				<div class="off-img off-img-fifth">
				{{#if theme_settings.offerbanner-fifth-img}}
					<div class="features-img-banner">
						<a href="offerbanner-fifth-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-fifth-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-fifth-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-fifth-button-text}}<a href="{{theme_settings.offerbanner-fifth-button-text-link}}" title="shop now">{{theme_settings.offerbanner-fifth-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
{{else}}
 {{#if theme_settings.theme_kids}}
<div class="section-spacing">
	<div class="banner-bg-offer container">
		<div class="row pre-row">
			<div class="col-lg-4 col-sm-6 col-12 off-img off-img-three off-img-second-col">
				{{#if theme_settings.offerbanner-thired-img}}
					<div class="features-img-banner">
						<a href="offerbanner-thired-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-thired-img}}"  alt="banner"/></a>
					</div>
					<div class="center-features-img-descri">
						<p>{{theme_settings.offerbanner-thired-img-cont1}}</p>
						<h1>{{theme_settings.offerbanner-thired-img-cont2}}</h1>
					</div>
				{{/if}}
			</div>
			<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-first-col">
				<div class="off-img off-img-one">
				{{#if theme_settings.offerbanner-first-img}}
					<div class="features-img-banner">
						<a href="offerbanner-first-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-first-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-first-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-first-button-text}}<a href="{{theme_settings.offerbanner-first-button-text-link}}" title="shop now">{{theme_settings.offerbanner-first-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
				<div class="off-img off-img-second">
				{{#if theme_settings.offerbanner-second-img}}
					<div class="features-img-banner">
						<a href="offerbanner-second-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-second-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-second-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-second-button-text}}<a href="{{theme_settings.offerbanner-second-button-text-link}}" title="shop now">{{theme_settings.offerbanner-second-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
			</div>
			
			<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-thired-col">
				<div class="off-img off-img-four">
				{{#if theme_settings.offerbanner-fourth-img}}
					<div class="features-img-banner">
						<a href="offerbanner-fourth-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-fourth-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-fourth-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-fourth-button-text}}<a href="{{theme_settings.offerbanner-fourth-button-text-link}}" title="shop now">{{theme_settings.offerbanner-fourth-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
				<div class="off-img off-img-fifth">
				{{#if theme_settings.offerbanner-fifth-img}}
					<div class="features-img-banner">
						<a href="offerbanner-fifth-img-link"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-fifth-img}}"  alt="banner"/></a>
					</div>
					<div class="features-img-descri">
						<h1>{{theme_settings.offerbanner-fifth-img-cont1}}</h1>
						{{#if theme_settings.offerbanner-fifth-button-text}}<a href="{{theme_settings.offerbanner-fifth-button-text-link}}" title="shop now">{{theme_settings.offerbanner-fifth-button-text}}</a>{{/if}}
					</div>
				{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
 {{/if}}
 {{/if}}
{{/if}}
{{/if}}
