{{#if theme_settings.home-services}}
{{{region name="home_above_service"}}}
<div class="section-spacing">
	<div class="service-bg">
		<div class="container">
			<div class="row deliveryinfo row-space">
				<div class="col-md-3 col-sm-6 col-12 service-cont">
					<div class="list-unstyled">
						<ul class="service">
							<li>
								<svg width="36px" height="36px"><use xlink:href="#shipping"></use></svg>
							</li>
							<li class="text-left">
								<h1>{{theme_settings.service_heading1}}</h1>
								<p>{{theme_settings.service_text1}}</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 sbr service-cont">
					<div class="list-unstyled">
						<ul class="service">
							<li>
								<svg width="36px" height="36px"><use xlink:href="#warrenty"></use></svg>
							</li>
							<li class="text-left">
								
								<h1>{{theme_settings.service_heading2}}</h1>
								<p>{{theme_settings.service_text2}}</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 sbr service-cont">
					<div class="list-unstyled">
						<ul class="service">
							<li>
								<svg width="36px" height="36px"><use xlink:href="#moneyback"></use></svg>
							</li>
							<li class="text-left">
								<h1>{{theme_settings.service_heading3}}</h1>
								<p>{{theme_settings.service_text3}}</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 sbr service-cont">
					<div class="list-unstyled">
						<ul class="service">
							<li>
								<svg width="36px" height="36px"><use xlink:href="#support"></use></svg>
							</li>
							<li class="text-left">
								<h1>{{theme_settings.service_heading4}}</h1>
								<p>{{theme_settings.service_text4}}</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}
