{{#if theme_settings.home-testimonial}}
{{#if theme_settings.theme_multistore}}
<div class="section-spacing">
    <div class="parallax-bg container">
    	<div class="row pre-row">
            <div class="col-12 pre-col all-head-contant">
            	<div class="hometesti">
                            <section class="productCarousel"
                                        data-list-name="{{list}}"
                                        data-slick='{
                                            "infinite": false,
                                            "mobileFirst": true,
                                            "dots": false,
                                            "slidesToShow": 3,
                                            "slidesToScroll": 2,
                                            "prevArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-prev-arrow-testi",
                                            "nextArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-next-arrow-testi",
                                            "responsive": [
                                                {
                                                    "breakpoint": 1409,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 1200,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 991,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 767,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 575,
                                                    "settings": {
                                                        "slidesToShow": 2,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 425,
                                                    "settings": {
                                                        "slidesToShow": 1,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 0,
                                                    "settings": {
                                                        "slidesToShow": 1,
                                                        "slidesToScroll": 1
                                                    }
                                                }
                                            ]
                                        }'
                                    > 
                                    <div class="col-12 pre-col">
                                        <div class="testi-box box1">
        									<div class="img-deat">
        											<img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgfirst}}"  alt="banner"  />
        									
        									</div>
        									<div class="testi-contant">
                                                <h3>{{theme_settings.testimonial-title}}</h3>
        										<p class="testi-description">{{theme_settings.testimonial-contant1}}</p>
        										<p class="testi-description">{{theme_settings.testimonial-contant2}}</p>
        										<!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
        									</div>
        									<div class="testi-detail">
        										<h2>{{theme_settings.testimonial-name}}</h2>
        									</div>
                                        </div>
    								</div>
    								<div class="col-12 pre-col">
                                        <div class="testi-box box2">
        									<div class="img-deat">
        									<img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgsecond}}"  alt="banner"  />
        									
        									</div>
        									<div class="testi-contant">
                                                <h3>{{theme_settings.second-testimonial-title}}</h3>
        										<p class="testi-description">{{theme_settings.second-testimonial-contant1}}</p>
        										<p class="testi-description">{{theme_settings.second-testimonial-contant2}}</p>
        										<!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
        									</div>
        									<div class="testi-detail">
        										<h2>{{theme_settings.second-testimonial-name}}</h2>
        									</div>
                                        </div>
    								</div>
    								<div class="col-12 pre-col">
                                        <div class="testi-box box3">
        									<div class="img-deat">
        									<img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgthird}}"  alt="banner"  />
        									
        									</div>
        									<div class="testi-contant">
                                                <h3>{{theme_settings.third-testimonial-title}}</h3>
        										<p class="testi-description">{{theme_settings.third-testimonial-contant1}}</p>
        										<p class="testi-description">{{theme_settings.third-testimonial-contant2}}</p>
        										<!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
        									</div>
        									<div class="testi-detail">
        										<h2>{{theme_settings.third-testimonial-name}}</h2>
        									</div>
                                        </div>
    								</div>
    								<div class="col-12 pre-col">
                                        <div class="testi-box box4 ">
        									<div class="img-deat">
        									<img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgfourth}}"  alt="banner"  />
        									
        									</div>
        									<div class="testi-contant">
                                                <h3>{{theme_settings.fourth-testimonial-title}}</h3>
        										<p class="testi-description">{{theme_settings.fourth-testimonial-contant1}}</p>
        										<p class="testi-description">{{theme_settings.fourth-testimonial-contant2}}</p>
        										<!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
        									</div>
        									<div class="testi-detail">
        										<h2>{{theme_settings.fourth-testimonial-name}}</h2>
        									</div>
                                        </div>
    								</div>
    															
                            		</section>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
 {{#if theme_settings.theme_fashion}}
 <div class="section-spacing">
    <div class="parallax-bg container">
    	<div class="row pre-row">
            <div class="col-12 pre-col all-head-contant">
            	<div class="hometesti">
                            <section class="productCarousel"
                                        data-list-name="{{list}}"
                                        data-slick='{
                                            "infinite": false,
                                            "mobileFirst": true,
                                            "dots": false,
                                            "slidesToShow": 3,
                                            "slidesToScroll": 2,
                                            "prevArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-prev-arrow-testi",
                                            "nextArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-next-arrow-testi",
                                            "responsive": [
                                                {
                                                    "breakpoint": 1409,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 1200,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 991,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 767,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 575,
                                                    "settings": {
                                                        "slidesToShow": 2,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 425,
                                                    "settings": {
                                                        "slidesToShow": 1,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 0,
                                                    "settings": {
                                                        "slidesToShow": 1,
                                                        "slidesToScroll": 1
                                                    }
                                                }
                                            ]
                                        }'
                                    > 
                                    <div class="col-12 pre-col">
                                        <div class="testi-box box1">
        									<div class="img-deat">
        											<img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgfirst}}"  alt="banner"  />
        									
        									</div>
        									<div class="testi-contant">
                                                <h3>{{theme_settings.testimonial-title}}</h3>
        										<p class="testi-description">{{theme_settings.testimonial-contant1}}</p>
        										<p class="testi-description">{{theme_settings.testimonial-contant2}}</p>
        										<!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
        									</div>
        									<div class="testi-detail">
        										<h2>{{theme_settings.testimonial-name}}</h2>
        									</div>
                                        </div>
    								</div>
    								<div class="col-12 pre-col">
                                        <div class="testi-box box2">
        									<div class="img-deat">
        									<img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgsecond}}"  alt="banner"  />
        									
        									</div>
        									<div class="testi-contant">
                                                <h3>{{theme_settings.second-testimonial-title}}</h3>
        										<p class="testi-description">{{theme_settings.second-testimonial-contant1}}</p>
        										<p class="testi-description">{{theme_settings.second-testimonial-contant2}}</p>
        										<!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
        									</div>
        									<div class="testi-detail">
        										<h2>{{theme_settings.second-testimonial-name}}</h2>
        									</div>
                                        </div>
    								</div>
    								<div class="col-12 pre-col">
                                        <div class="testi-box box3">
        									<div class="img-deat">
        									<img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgthird}}"  alt="banner"  />
        									
        									</div>
        									<div class="testi-contant">
                                                <h3>{{theme_settings.third-testimonial-title}}</h3>
        										<p class="testi-description">{{theme_settings.third-testimonial-contant1}}</p>
        										<p class="testi-description">{{theme_settings.third-testimonial-contant2}}</p>
        										<!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
        									</div>
        									<div class="testi-detail">
        										<h2>{{theme_settings.third-testimonial-name}}</h2>
        									</div>
                                        </div>
    								</div>
    								<div class="col-12 pre-col">
                                        <div class="testi-box box4 ">
        									<div class="img-deat">
        									<img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgfourth}}"  alt="banner"  />
        									
        									</div>
        									<div class="testi-contant">
                                                <h3>{{theme_settings.fourth-testimonial-title}}</h3>
        										<p class="testi-description">{{theme_settings.fourth-testimonial-contant1}}</p>
        										<p class="testi-description">{{theme_settings.fourth-testimonial-contant2}}</p>
        										<!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
        									</div>
        									<div class="testi-detail">
        										<h2>{{theme_settings.fourth-testimonial-name}}</h2>
        									</div>
                                        </div>
    								</div>
    															
                            		</section>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
 {{#if theme_settings.theme_kids}}
    <div class="section-spacing">
    <div class="parallax-bg container">
        <div class="row pre-row">
            <div class="col-12 pre-col all-head-contant">
                <div class="hometesti">
                            <section class="productCarousel"
                                        data-list-name="{{list}}"
                                        data-slick='{
                                            "infinite": false,
                                            "mobileFirst": true,
                                            "dots": false,
                                            "slidesToShow": 3,
                                            "slidesToScroll": 2,
                                            "prevArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-prev-arrow-testi",
                                            "nextArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-next-arrow-testi",
                                            "responsive": [
                                                {
                                                    "breakpoint": 1409,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 1200,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 991,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 767,
                                                    "settings": {
                                                        "slidesToShow": 3,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 575,
                                                    "settings": {
                                                        "slidesToShow": 2,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 425,
                                                    "settings": {
                                                        "slidesToShow": 1,
                                                        "slidesToScroll": 1
                                                    }
                                                },
                                                {
                                                    "breakpoint": 0,
                                                    "settings": {
                                                        "slidesToShow": 1,
                                                        "slidesToScroll": 1
                                                    }
                                                }
                                            ]
                                        }'
                                    > 
                                    <div class="col-12 pre-col">
                                        <div class="testi-box box1">
                                            <div class="img-deat">
                                                    <img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgfirst}}"  alt="banner"  />
                                            
                                            </div>
                                            <div class="testi-contant">
                                                <h3>{{theme_settings.testimonial-title}}</h3>
                                                <p class="testi-description">{{theme_settings.testimonial-contant1}}</p>
                                                <p class="testi-description">{{theme_settings.testimonial-contant2}}</p>
                                                <!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
                                            </div>
                                            <div class="testi-detail">
                                                <h2>{{theme_settings.testimonial-name}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pre-col">
                                        <div class="testi-box box2">
                                            <div class="img-deat">
                                            <img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgsecond}}"  alt="banner"  />
                                            
                                            </div>
                                            <div class="testi-contant">
                                                <h3>{{theme_settings.second-testimonial-title}}</h3>
                                                <p class="testi-description">{{theme_settings.second-testimonial-contant1}}</p>
                                                <p class="testi-description">{{theme_settings.second-testimonial-contant2}}</p>
                                                <!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
                                            </div>
                                            <div class="testi-detail">
                                                <h2>{{theme_settings.second-testimonial-name}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pre-col">
                                        <div class="testi-box box3">
                                            <div class="img-deat">
                                            <img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgthird}}"  alt="banner"  />
                                            
                                            </div>
                                            <div class="testi-contant">
                                                <h3>{{theme_settings.third-testimonial-title}}</h3>
                                                <p class="testi-description">{{theme_settings.third-testimonial-contant1}}</p>
                                                <p class="testi-description">{{theme_settings.third-testimonial-contant2}}</p>
                                                <!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
                                            </div>
                                            <div class="testi-detail">
                                                <h2>{{theme_settings.third-testimonial-name}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pre-col">
                                        <div class="testi-box box4 ">
                                            <div class="img-deat">
                                            <img class="img-fluid center-block timg lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.testiimgfourth}}"  alt="banner"  />
                                            
                                            </div>
                                            <div class="testi-contant">
                                                <h3>{{theme_settings.fourth-testimonial-title}}</h3>
                                                <p class="testi-description">{{theme_settings.fourth-testimonial-contant1}}</p>
                                                <p class="testi-description">{{theme_settings.fourth-testimonial-contant2}}</p>
                                                <!-- <svg width="20px" height="20px"><use xlink:href="#quote"></use></svg> -->
                                            </div>
                                            <div class="testi-detail">
                                                <h2>{{theme_settings.fourth-testimonial-name}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                                                
                                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
