input:focus+label {
    outline: none !important;
}
input:focus{
    outline: none !important;
}
// second layout header css
.theme_kids .my-custom-sidenav .navUser-action svg {
    height: auto;
}
// Home product section header and cards css
.theme_kids .countdown p{
    margin-right: 0px;
    margin-left: 10px;
}
.theme_kids .all-head{
    padding: 0;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    height: unset;
    min-height: unset;
    position: unset;
}
.theme_kids .new-pro{
    align-items: center;
}
.theme_kids .navPages {
    text-align: left;
}
.theme_kids .second-head {
    padding: 0px 0px;
}
.theme_kids .card-figcaption-button{
    border-radius: 50px!important;
    background-color: stencilColor("color-textBase--hover");
}
.theme_kids .card-figcaption-button:hover {
    background-color: stencilColor("color-textBase");
}
.theme_kids .card-figcaption-button svg {
    fill: stencilColor("color-white");
}
.theme_kids .card-figcaption-button:hover svg {
    fill:  stencilColor("color-white") !important;
}
.theme_kids .card-figure{
    border-radius: 10px;
}
.theme_kids .card-body .abc{
    text-align: left;
    padding: 15px 15px 15px 15px;
    border-radius: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    background: stencilColor("color-white");

    @include breakpoint("small") {
        
    }
    .product-brandname{
        display: none;
    }
}
.theme_kids #brand{
    background: stencilColor("custom-second-background-color");
}
// Home category section
.theme_kids .img-des{
    background: none;
}
.theme_kids .homecategory {
    margin: 0;
    align-items: center;
}
.theme_kids .home-cate-item{
    border-top: none;
}
.theme_kids .fixed{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .18%);
}
.theme_kids .defult.header{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .18%);
}
.theme_kids .header{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .18%);
}
.theme_kids .topsp {
    .slick-slide img{
        border-radius: 10px;
    }
    .cpton-p .cate-ti{
        border-radius: 10px;
    }
    .cate-img:before{
        border-radius: 10px;
    }
    .cate-shop{
        border-radius: 40px;
    }
}
.theme_kids .mygift .navUser-action, .theme_kids .mysalebadge a{
    font-weight: 600;
}
.theme_kids .top-bar-f{
    text-align: center;
}
// Home offer banner section
.theme_kids .features-img-descri{
    position: absolute;
    top: 30%;
    left: 15px;
    right: 5%;
    bottom: 0;
}
.theme_kids .features-img-descri a{
    border-radius: 50px;
}
// Home testimonial section css
.theme_kids .testi-box{
    border: none;
}
.test-quote-icon {
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    background: #001a77;
    padding: 15px;
}
.theme_kids .testi-contant svg{
    width: 36px;
    height: 36px;
    fill: stencilColor("color-white");
    transform: scale(-1,1);
    position: unset;
    opacity: 1;
}
.theme_kids .testi-detail {
    margin-top: 0px;
}
// Home blog section css
.theme_kids .main-b-b{
    border-radius: 10px;
}
.theme_kids .read-more-blog .readmore_link{
    border-radius: 40px;
}
.theme_kids .date-time{
    border-radius: 5px;
}
.theme_kids .webi_post_hover{
    border-radius: 5px;
}
.theme_kids .webi_post_hover .icon{
    border-radius: 5px;
}
.theme_kids .mynewblog .productCarousel-slide {
    border-bottom: none;
}
// Home footer section css
.theme_kids .webi-subscribe .form-prefixPostfix .button{
    border-radius: 50px;
    height: 45px;
}
.theme_kids #nl_email{
    height: 45px;
}
.theme_kids .webi-subscribe .form-field .form-prefixPostfix{
    border-radius: 50px!important;
}
.theme_kids .foot-phone{
    border-radius: 5px;
}
.theme_kids .foot_store_icons li,.theme_kids .foot-social .socialLinks--alt .icon{
    border-radius: 50px;
}
// Other page css
.theme_kids .productList .card-body .abc{
    background: 0;
}
.theme_kids .productList .card-figcaption-button{
    margin: 0;
}
.theme_kids .productList .myadcart svg{
    stroke: stencilColor("color-white");
}
.theme_kids .productList .myadcart{
    background-color: stencilColor("color-textBase--hover")!important;
    border-radius: 50px!important;
}
.theme_kids .productList .add-cart:hover svg{
    stroke: stencilColor("color-white");
}
.theme_kids .productList .myadcart:hover{
    background-color: stencilColor("color-black")!important;
}
.theme_kids .add-cart{
    margin-bottom: 0px;
}
.theme_kids .realted,.theme_kids .also-view{
    align-items: center;
}
.theme_kids .ask-form-body .form-field .form-input {
    border-radius: 20px!important;
}
.theme_kids {
    .newsletter_popup .np-inner{
        border-radius: 10px;
    }
    .newsletter_popup .np-inner .np-left img{
        border-radius: 10px 0 0 10px;
    }
}
.theme_kids .ask-an-expert-popup .ask-inner{
    border-radius: 10px;
}
.theme_kids .ask-an-expert-popup .ask-inner .ask-header{
    border-radius: 10px 10px 0 0;
}
.theme_kids .ask-an-expert-popup .ask-inner .ask-form-footer{
    border-radius: 0 0 10px 10px;
}
.theme_kids .card-figure .second-img, .theme_kids .card-image{
    border-radius: 10px;
}
.theme_kids .productList .card-figure {
    border-radius: 10px 0 0 10px;
}
.theme_kids .productList .new-card {
    border-radius: 10px;
}
.theme_kids .sale-flag-sash, .theme_kids .sold-out-flag-sash{
    border-radius: 20px;
}
.theme_kids .footer{
    margin-top: 80px;
}
.theme_kids .off-img-second,.theme_kids .off-img-fifth{
    padding-top: 10px;
}
.theme_kids .np-subscription-form #nl_email{
    border-radius: 50px!important;
}
// all theme border radius
.theme_kids{
    .form-input,.form-field .form-input,.button,.alertBox,.navBar--sub .navBar-section,.navBar--sub .navBar-item,.panel--address .panel-body,.socialLinks-item .socialLinks__link,
    .add-to-cart-wrapper .form-increment,.form-option,.productView-rating,.form-option-variant--color, .form-option-variant--pattern,.acd,
    ol.breadcrumbs,.newsletter_popup .np-inner .np-right .np-subscription-form .form-field .form-prefixPostfix .form-input,.mygift,.navUser-item--wishlist{
        border-radius: 50px;
    }
}
.theme_kids{
    .form-input,.form-field .form-input{
        border-radius: 50px!important;
    }
}
.theme_kids {
    .productView-description,.navUser .dropdown-menu,.cate-border,.actionBar-section .form-field,.actionBar-section .form-select,.category-top,.facetLabel,
    .category-top img,.productView-thumbnails img,.productView-thumbnail-link,.productView-img-container img,.productView-image .easyzoom-flyout,.webi-blog-img .blog-thumbnail img{
        border-radius: 10px;
    }
}
.theme_kids .catagory-space .page-sidebar{
    border-radius: 10px!important;
}
.theme_kids .productView .form-wishlist .button.is-open{
    border-radius: 20px 20px 0px 0px;
}
.theme_kids .cart-item-quantity .form-increment .form-input{
    border-radius: 50px!important;
}
.theme_kids {
    .cart-total .form-select,.theme_kids .cart-total .form-input,.productView-options .product-variant .form-input,.form-checkbox+.form-label::before{
    border-radius: 20px!important;
}
}
.theme_kids #recentlyBougthProducts .RB_Items .RB_Item{
    border-radius: 10px!important;
}
.theme_kids .ask-an-expert-footer img{
    border-radius: 10px!important;
}
.theme_kids .navList-action--checkbox::before{
    border-radius: 3px!important;
}
.theme_kids #wishlist-dropdown.is-open .button{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.theme_kids .new-customer .panel-header{
    border-radius: 10px 10px 0px 0px;
}
.theme_kids .new-customer .panel-body,.theme_kids .navPage-subMenu{
    border-radius: 0px 0px 10px 10px;
}
.theme_kids .wb-search .form-input{
    border-radius: 40px !important;
    border: 1px solid #eee!important;
    padding: 20px;
}
.theme_kids .wbSearch .form-input:focus {
    border: 1px solid #eee!important;
}
.theme_kids .wb-search .input-group-btn{
    right: 7px;
    top: 4px;
}
.theme_kids #search .wb-search-btn{
    border-radius: 50px;
    height: 34px;
    padding: 6px 8px;
}
.theme_kids .mycustom-header{
    padding: 12px 15px;
}
.theme_kids {
    .features-img-banner img,.mp_product_list img,.testi-box,.home_instagram_feed_main .home_instagram_feed ul li .IGFeed_link img,
    .home_instagram_feed_main .home_instagram_feed ul li .IGFeed_link .IGFees_hover{
        border-radius: 10px;
    }
}
.theme_kids .home_most_popular_products .mp_product_list .mp_inner .product_section .mp-card .mp-action a{
    border-radius: 40px;
}
.theme_kids .card-product-swatch .custom-swatch-form-field .option-swatch{
    border-radius: 3px;
}
// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images.
//
// 1. Use object-fit on the image tag to keep aspect ratio and cover the space
//    created by the outer div. The JS will detect browsers that do not support
//    object-fit and instead copy the image src to a the background-image of the
//    wrapper div and add the compat-object-fit class.
//
// 3. Allows image to scale on large screens while preventing the top and bottom
//    from becoming cut off.
// -----------------------------------------------------------------------------

.theme_kids .slidedes {
    overflow: hidden;
    position: relative;
    z-index: 9;
    text-align: center;
    padding: 0 30px;
    left: 0;
}
.theme_kids .slide-flex {
    display: flex !important;
    align-items: center !important;
    background: none;
    border: none;
}
.theme_kids .slidecap{
    background: stencilColor("color-white");
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .18%);
    padding: 13% 0;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%;
}
.theme_kids .heroCarousel-title{
    text-align: center;
    color: $carousel-title-color;
    margin-top: 0;
    font-size: 46px;
    text-transform: capitalize;
    font-weight: 700;
    transition: all 1.5s ease;
    // transform: scale(1.5);
    display: block;
    max-width: unset;
}
.theme_kids .heroCarousel-content .heroCarousel-action{
    border-radius: 50px;
    background-color: stencilColor("color-textBase--hover");
    border-color: stencilColor("color-textBase--hover");
    padding: 15px 45px;
    font-size: 18px;
}
.heroCarousel-slide {
    position: relative;
    margin: 0;
    a {
        text-decoration: none;
    }

    &.stretch {
        .heroCarousel-image {
            object-fit: cover;
            object-position: 50% 50%;
        }

        &.compat-object-fit { // 1
            .heroCarousel-image {
                width: 100%;
                height: 100%;
            }
        }
    }    

    &.compat-object-fit { // 1
        overflow: hidden;
        
        .heroCarousel-image {
            width: auto;
        }
    }

    .heroCarousel-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }
}
.heroCarousel .slick-current.slick-active .heroCarousel-title,.heroCarousel .slick-current.slick-active .heroCarousel-description{
    transform: unset;
}
.theme_kids .heroCarousel-content{
    width: 50%;
}
.theme_kids .heroCarousel-action {
    margin: 0;

    @include breakpoint("medium") {
        margin-top: spacing("single");
    }
}
@media(min-width: 1200px) and (max-width: 1440px){
    .theme_kids .slidecap{
        padding: 8% 0;
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    .theme_kids .slidecap{
        padding: 8% 0;
    }
    .theme_kids .navPages-action {
        padding: 0px 30px 20px 0px;
    }
}
@media (min-width: 801px) and (max-width: 991px){
    .theme_kids .cate-navlg {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        padding: 0 15px;
    }
    .theme_kids .navPages-action {
        padding: 0px 12px 20px 0px!important;
    }
    .theme_kids #logo{
        -ms-flex: 0 0 16%;
        flex: 0 0 16%;
        max-width: 16%;
    }
    .theme_kids .head-icons {
        -ms-flex: 0 0 17.33%;
        flex: 0 0 17.33%;
        max-width: 17.33%;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .theme_kids .slidecap{
        padding: 8% 0;
    }
    .theme_kids .heroCarousel-title{
        font-size: 18px !important;
        margin-bottom: 0;
    }
    .theme_kids .heroCarousel-description{
        font-size: 14px !important;
        line-height: 25px;
        margin: 15px 0;
    }
    .theme_kids .theme_kids .heroCarousel-content .heroCarousel-action{
        padding: 10px 15px;
        font-size: 14px;
    }
    .theme_kids .slidedes{
        left: 15px !important;
    }
    .theme_kids .service-cont:nth-child(1),.theme_kids .service-cont:nth-child(2){
        margin-bottom: 15px;
    }
}
@media(min-width: 576px) and (max-width: 767px){

    .theme_kids .heroCarousel-title{
        font-size: 18px !important;
        margin-bottom: 0;
    }
    .theme_kids .heroCarousel-description{
        font-size: 14px !important;
        line-height: 25px;
        margin: 15px 0;
    }
    .theme_kids .heroCarousel-content .heroCarousel-action{
        padding: 10px 15px;
        font-size: 14px;
    }
    .theme_kids .service-cont:nth-child(1),.theme_kids .service-cont:nth-child(2){
        margin-bottom: 15px;
    }
}
@media(max-width: 1409px){
    .theme_kids .heroCarousel-title{
        font-size: 34px;
    }
}
@media(max-width: 1199px){
    .theme_kids .myquick-search{
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .theme_kids .second-head-icons{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (min-width: 768px){
    .theme_kids .heroCarousel.slick-vertical .slick-slide{
        position: sticky;
        top: 0;
    }
    .theme_kids .heroCarousel.slick-vertical .slick-list{
        overflow: unset;
        transform: unset;
        height: 100% !important;
    }
    .theme_kids .heroCarousel.slick-vertical .slick-arrow{
        display: none !important;
    }
}
@media(max-width: 991px){
    .theme_kids .mygift .navUser-action{
        font-size: 14px;
    }
    .theme_kids .add-cart {
        bottom: 15px;
    }
    .theme_kids .cpton-p {
        opacity: 1;
        border: none;
    }
    .theme_kids .footer {
        margin-top: 60px;
    }
}
@media(max-width: 800px){
    .theme_kids .facetedSearch-toggle{
        border-radius: 10px;
    }
    .theme_kids .mygift .navUser-action{
        font-weight: 500;
    }
    .theme_kids .head-icons{
        top: 15px;
    }
    .theme_kids .slidedes{
        left: 0px !important;
    }
    .theme_kids .myquick-search {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 10px;
    }
    .theme_kids .mycustom-header {
        padding: 0px;
    }
    .fashion-search{
        padding: 0;
        margin: 0;
    }
    .fashion-search .myquick-search{
        padding: 0 0px 15px 0px;
    }
    .theme_kids .navPages-container.is-open{
        border-radius: 10px;
        z-index: 99;
        top: 50px;
    }
    .theme_kids .wb-search .form-input{
        padding: 20px;
    }
    .theme_kids .wb-search .input-group-btn {
        right: 4px;
        top: 4px;
    }
    .theme_kids #search .wb-search-btn {
        height: 35px;
        padding: 6px 8px;
    }
}
@media(max-width: 767px){
    
    .theme_kids .card-figcaption-button {
        padding: 8px;
    }
    .theme_kids .all-cate{
        order: 2;
    }
    .theme_kids .heroCarousel-slide{
        border: none;
    }
    .theme_kids .slideimg::after{
        content: '';
        position: absolute;
        background-color: #000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.3;
    }
    .theme_kids .heroCarousel-title,.theme_kids .heroCarousel-description{
        color: stencilColor("color-white");
    }
    .theme_kids .heroCarousel-slide .heroCarousel-image-wrapper{
        position: relative;
    }
    .theme_kids .heroCarousel .slick-next, .theme_kids .heroCarousel .slick-prev{
        display: inline-block!important;
        width: 40px;
        height: 40px;
        padding: 12px 12px;
    }
    .theme_kids .heroCarousel .slick-next::before, .theme_kids .heroCarousel .slick-prev::before{
        height: 14px;
        width: 14px;
    }
    .theme_kids .heroCarousel .slick-prev {
        left: auto;
        right: 40px;
    }
    .theme_kids .heroCarousel .slick-next {
        right: 0px;
    }
    .theme_kids .heroCarousel .slick-prev::after {
        content: '';
        position: absolute;
        background: stencilColor("custom-border-color");
        width: 2px;
        height: 25px;
        left: 37px;
        top: 7px;
    }
    .theme_kids .slidecap,.theme_kids .slideimg{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .theme_kids .slidecap{
        position:absolute;
        background: 0;
        box-shadow: none;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(max-width: 600px){
    .theme_kids .footer {
        margin-top: 30px;
    }
    .theme_kids .heroCarousel-content {
        width: 100%;
    }
    .theme_kids .heroCarousel-title{
        font-size: 16px !important;
        margin-bottom: 10px;
    }
    .theme_kids .heroCarousel-description{
        display: none;
    }
    .top-bar-f a {
        font-size: 14px;
    }
    .theme_kids .features-img-descri {
        top: 30%;
        right: 0;
    }
    .theme_kids .off-img-one {
        border-top: none;
    }
}
@media(max-width: 575px){
    .theme_kids .off-img-thired-col{
        padding-top: 20px;
    }
    .theme_kids .heroCarousel-content .heroCarousel-action {
        font-size: 12px;
        padding: 8px 8px;
    }
    .theme_kids .features-img-descri {
        top: 20%;
        width: 50%;
    }
    .theme_kids .testi-box .img-deat img{
        width: 80px;
        height: 80px;
    }
    .theme_kids .img-deat{
        width: 80px;
        height: 80px;
    }
    .theme_kids .parallax-bg .page-heading{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .theme_kids .productList .card-body{
        padding: 0 10px 10px;
    }
}
@media(max-width: 550px){
    .theme_kids .sidebar-recently-view .rv-top,.theme_kids .ask-an-expert-footer svg{
        border-radius: 50px!important;
    }
    .theme_kids .sidebar-recently-view.is-active{
        background: 0;
    }
}
@media(max-width: 375px){
    .theme_kids .features-img-descri {
        top: 12%;
    }
}
@media(max-width: 425px){
    .announcementbar {
        display: none;
    }
}
